@charset "UTF-8";
@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes check-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes like-heart-hover {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.3;
  }
  66% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Shrikhand", sans-serif;
}

h1 {
  font-weight: 800;
}

h4 {
  font-weight: bold;
}

li {
  list-style-type: none;
}

button {
  border: none;
  display: flex;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a h4 {
  color: #000;
  font-size: 1.2rem;
}
a:visited {
  color: #000;
}

.btn, .btn-menu {
  border-radius: 50px;
  color: white;
  padding: 20px;
  background: linear-gradient(#ff79da 0%, #9356dc 100%);
}
.btn:hover, .btn-menu:hover {
  filter: brightness(115%);
}

.functioning h3 {
  margin-top: 50px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
}

.functioning-steps {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 30px;
  justify-content: center;
}
.functioning-steps .functioning-step {
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 20px 0;
  margin-top: 20px;
  margin-right: 20px;
  width: 330px;
}
.functioning-steps .functioning-step .functioning-number {
  background-color: #9356dc;
  border-radius: 100px;
  padding: 4px 7px;
  color: white;
  margin-top: -4px;
  margin-left: -8px;
}
.functioning-steps .functioning-step span {
  font-size: 1rem;
  font-weight: bold;
}
.functioning-steps .functioning-step i {
  padding: 0 25px;
  font-size: 1.2rem;
}

.btn-menu {
  text-align: center;
  margin: 0 auto;
  margin-top: 45px;
  padding: 15px 50px;
}

.restaurants-card {
  max-width: 335px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.restaurants-card-new {
  position: absolute;
  right: 10px;
  top: 14px;
  padding: 4px 8px;
  color: #008766;
  border-radius: 2px;
  font-size: 12px;
  background-color: #99e2d0;
}

.restaurants {
  background-color: #f6f6f6;
  margin-top: 65px;
  max-height: 1225px;
}
.restaurants h3 {
  padding: 45px 0 30px 20px;
  font-family: "Roboto", sans-serif;
}
.restaurants ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.restaurants ul li {
  margin: 0 10px 0 10px;
  max-width: 335px;
  width: 20%;
}
@media (max-width: 1200px) {
  .restaurants ul li {
    width: 100%;
  }
}
.restaurants img {
  width: 100%;
  height: 175px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  margin-bottom: -4px;
}
.restaurants figcaption {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  padding: 15px;
}
.restaurants figcaption p {
  font-weight: 300;
}
.restaurants .like-heart {
  font-size: 1.8rem;
  padding-top: 5px;
  cursor: pointer;
  color: #fff;
  -webkit-text-stroke: 1px #000;
}
.restaurants .like-heart:hover {
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0;
  animation: like-heart-hover 1.5s;
  opacity: 1;
}

.header-menu {
  text-align: center;
}
.header-menu i {
  position: absolute;
  left: 24px;
  top: 25px;
}
.header-menu img {
  width: 160px;
  padding: 20px 0 10px 0;
}

.header-accueil img {
  width: 160px;
  display: flex;
  margin: auto;
  padding: 20px 0 10px 0;
}

footer {
  height: 198px;
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
footer h2 {
  padding: 25px 0 25px 25px;
  color: white;
  font-size: 1.2rem;
  font-weight: 800;
}
footer a {
  color: white;
  line-height: 1.6rem;
  padding-left: 25px;
  font-size: 1rem;
}
footer a:visited {
  color: white;
}
footer i {
  margin-right: 12px;
  width: 1rem;
}

.loading-page {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ff79da, #9356dc);
  animation: loading 2s forwards;
}
.loading-page .loading {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading-page .loading .loading-spinner {
  width: 100%;
  height: 100%;
  border: 8px solid #f6f6f6;
  border-radius: 50%;
  border-left-color: transparent;
  animation: rotate 0.8s infinite ease;
}

.address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  padding: 10px;
  box-shadow: inset 0 3px 3px 0 silver;
}
.address i {
  padding-right: 18px;
}
.address h3 {
  font-family: "Roboto", sans-serif;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.introduction h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-top: 40px;
  width: 70%;
}
.introduction p {
  text-align: center;
  margin: 30px 30px 30px 40px;
  width: 90%;
  font-size: 1.1rem;
}
.introduction button {
  margin-bottom: 55px;
}

.img-palette-du-goût, .img-a-la-francaise, .img-delice-des-sens, .img-note-enchantee {
  background-image: url(../../public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  height: 250px;
  width: 100%;
  background-size: cover;
}
@media (min-width: 500px) {
  .img-palette-du-goût, .img-a-la-francaise, .img-delice-des-sens, .img-note-enchantee {
    height: 350px;
  }
}
@media (min-width: 800px) {
  .img-palette-du-goût, .img-a-la-francaise, .img-delice-des-sens, .img-note-enchantee {
    height: 450px;
  }
}

.img-note-enchantee {
  background-image: url(../../public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.img-delice-des-sens {
  background-image: url(../../public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.img-a-la-francaise {
  background-image: url(../../public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.menu-restaurant {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding-bottom: 55px;
  margin-top: -50px;
}
.menu-restaurant .menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
@media (min-width: 1200px) {
  .menu-restaurant .menu-title {
    justify-content: center;
  }
}
.menu-restaurant .menu-title h1 {
  padding-right: 10px;
  font-size: 1.6rem;
}
.menu-restaurant .menu-title .like-heart {
  font-size: 1.8rem;
  padding-top: 5px;
  padding-right: 25px;
  cursor: pointer;
  color: #fff;
  -webkit-text-stroke: 1px #000;
}
.menu-restaurant .menu-title .like-heart:hover {
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0;
  animation: like-heart-hover 1.5s;
  opacity: 1;
}
@media (min-width: 1200px) {
  .menu-restaurant .menu-title h1 {
    padding-right: 50px;
  }
}

.container-menu-food {
  display: flex;
  flex-direction: column;
}

.menu {
  margin-left: 20px;
}
@media (min-width: 800px) {
  .menu {
    display: flex;
    justify-content: space-evenly;
  }
}
.menu h2 {
  font-weight: 500;
  font-size: 1rem;
  border-bottom: 4px #99e2d0 solid;
  width: 42px;
  padding-bottom: 5px;
  margin-top: 35px;
}
.menu .menu-food {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 15px;
  padding: 10px;
  box-shadow: 0 5px 10px silver;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  line-height: 1.5rem;
}
.menu .menu-food h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.1rem;
}
@media (min-width: 800px) {
  .menu .menu-food {
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .menu .menu-food {
    width: 300px;
  }
}
.menu .menu-food .menu-presentation p:last-child {
  transition: all 0.5s ease-in-out;
  padding-right: 20px;
}
.menu .menu-food:hover .menu-check {
  right: 0;
}
.menu .menu-food:hover i {
  right: 0;
  animation: check-icon 0.8s;
}
.menu .menu-food:hover .menu-presentation p:last-child {
  margin-right: 70px;
}
.menu .menu-food:hover h3 {
  width: 230px;
}
.menu .menu-presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu .menu-presentation p:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 400;
}
.menu .menu-check {
  position: absolute;
  right: -70px;
  top: 0;
  color: white;
  width: 60px;
  height: 70px;
  background: #99e2d0;
  border-radius: 0 15px 15px 0;
  transition: right 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appearance-1 {
  animation: appearance 1.5s;
}

.appearance-2 {
  animation: appearance 2s;
}

.appearance-3 {
  animation: appearance 2.5s;
}

.appearance-4 {
  animation: appearance 3s;
}

/*# sourceMappingURL=style.css.map */
