$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-footer: #353535;
$color-gray-clear: #f6f6f6;

$heart-color: linear-gradient($color-primary, $color-secondary);

$font-content: "Roboto", sans-serif;
$font-title: "Shrikhand", sans-serif;
